.btn {
  -webkit-box-direction: normal;
  box-sizing: border-box;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  padding: 0.467rem 1.5rem;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 0.267rem;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  color: #fff;
  cursor: pointer;
  &--block {
    width: 100%;
  }
  &--danger {
    border-color: darken($danger, 5);
    background-color: $danger;
    box-shadow: 0 2px 4px 0 rgba($danger, 0.5) !important;
    &:hover {
      box-shadow: 0 4px 12px 0 rgba($danger, 0.6) !important;
      background-color: lighten($danger, 5) !important;
    }
    &:active {
      background-color: darken($danger, 2);
    }
  }
  &--success {
    border-color: darken($success, 5);
    background-color: $success;
    box-shadow: 0 2px 4px 0 rgba(57, 218, 138, 0.5) !important;
    &:hover {
      box-shadow: 0 4px 12px 0 rgba(57, 218, 138, 0.6) !important;
      background-color: lighten($success, 5) !important;
    }
    &:active {
      background-color: darken($success, 2);
    }
  }
}
