.modal {
  background: #fff;
  width: 500px;
  height: 200px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding: 20px;
  z-index: 99999;
  &--auto {
    height: auto;
  }
  &__overlay {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba($dark, 0.8);
    z-index: 9999;
  }
}
