@import "components/_card", "components/_button";
@import "layout/_positions";
hr {
  border: none;
  border-top: 1px solid #d9d9d9;
}
body {
  background: rgb(66, 121, 238);
  font-family: "Poppins", sans-serif;
}
