@import "abstracts/_variables";
@import "components/_card", "components/_button", "components/_letter",
  "components/_key";
@import "layout/_positions", "layout/forms";
hr {
  border: none;
  border-top: 1px solid #d9d9d9;
}
body {
  background: rgb(66, 121, 238);
  font-family: "Poppins", sans-serif;
}
.clear {
  clear: both;
}
.text--center {
  text-align: center;
}
